window_form: rectangle          # Possible choices: square, rectangle
number_of_elements: 10000       # Number of boxes/individuals in the game
FPS: 3                          # Frames per Second
live_rate: 20                   # Percentage (0 - 100) of living elements as initial condition (only with the random placement)
initial_placement: random       # Possible choices: random, empty
