path: /home/USERNAME/workspace/blubb
window_form: rectangle          # Possible choices: square, rectangle
number_of_elements: 10000       # Number of boxes/individuals in the game
FPS: 50                         # Frames per Second
number_bool_2: false
number_array: [2,3,4.5]
list: {Hello, World, !} 
